.txtLoginResponsive {
    width: 80vw !important;
    margin:0 auto;
    position: static;
    padding: 30px;
    color:#FFF;
    display: none;
}

.Login {
    animation-duration: 1s !important;
    animation-fill-mode: both!important;
    animation-name: fadeIn !important;
    width: 50vw;
    height: 100vh;
    padding: 30px;
    background-color: #FFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: fixed;
    right: 0;
}

.txtLogin {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

.button-entrar {
    margin-top: 40px;
}

.button1 {
    margin-top: 20px;
    margin-left: 45vh;
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .button1:hover {
    background-color: black;
    color: white;
  }


@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(50vw);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOn {
	0% {
		opacity: 0;
		transform: translateY(100vw);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 992px) {
    
    .Login {
        animation-duration: 1s !important;
        animation-fill-mode: both!important;
        animation-name: fadeOn !important;
        width: 100vw !important;
        margin:0 auto;
        position: absolute;
        bottom:0px;
        margin-top:30px;
        border-radius:30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden !important;
        height: 50vh !important;
    }
    
    .txtLogin {
        display: none;
    }
    
    .txtLoginResponsive {
        display:block;
    }

}