body, html {
    /* background-color: transparent !important; */
}




 body {
    /* background-color: transparent !important;
    background-image: url('https://media.istockphoto.com/id/490989354/pt/foto/olhos-de-tigre.jpg?s=1024x1024&w=is&k=20&c=RZLUhhYeMcbXptHXOfotF1HdH6iAvwLUXomqu2IA3V4=');
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment:fixed; */
} 

.txtLoginResponsive {
    width: 80vw !important;
    margin:0 auto;
    position: static;
    padding: 30px;
    color:#FFF;
    display: none;
    text-shadow: 2px 2px #FFF;
}

.Login {
    animation-duration: 1s !important;
    animation-fill-mode: both!important;
    animation-name: fadeIn !important;
    width: 50vw;
    min-height: 100vh;
    padding: 30px;
    background-color: #FFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: fixed;
    right: 0;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(50vw);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOn {
	0% {
		opacity: 0;
		transform: translateY(100vw);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 992px) {
    
    .Login {
        animation-duration: 1s !important;
        animation-fill-mode: both!important;
        animation-name: fadeOn !important;
        width: 100vw !important;
        margin:0 auto;

        position: static;
        margin-top:30px;
        border-radius:30px;
    }

    .txtLogin {
        display: none;
    }
    
    .txtLoginResponsive {
        display:block;
    }

}