.container {
  animation-duration: 1s !important;
  animation-fill-mode: both!important;
  animation-name: fadeIn !important;
  background-color: #fff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: auto;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(97vh);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
