body {
    background-color: #171923;
}

.container {
    display: flex;
    justify-content: flex-end;
    max-width: 80vh;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: auto;
    transition-property: margin-left;
    transition-duration: 5s;
  }

 
  .content {
    margin-top: -500px;
  }
