.whatsapp {
    position: fixed;
    max-height: 35px;
    bottom: 3%;
    left: 12vh;
}

.whatsapp p {
    margin-top: 20px;
    margin-left: 65px
}

@media screen and (max-width: 992px) {
    .whatsapp {
        display: none;
    }
}