.navigation-side {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    background: black;
    border-left: 10px solid black;
    transition: 0.5s;
    overflow: hidden;
    left: 0;
    z-index: 9999;
}

.navigation-side ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation-side ul li {
position: relative;
width: 100%;
list-style: none;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
justify-items: center;
}

.navigation-side ul li:hover{
    background: white;
}

.navigation-side ul li:nth-child(1) {
    margin-top: 200px;
}

.navigation-side ul li .link {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation-side ul li:hover .link {
    color: black;
}

.navigation-side ul li .link .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation-side ul li:hover .link::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
}

.navigation-side ul li:hover .link::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
}