.text {
    margin-left: 100px;
  }

  .div-form {
    position: absolute;
    width: 75% ;
    height: 50%;
    margin-top: 300px;
    margin-left: 350px;
    margin-bottom: 350px;
    
  }

  .user-form {
    width: 50%;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0.5px solid #171923;
    border-radius: 20px;
    height: 300px;
  }
  
  
  .button {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #171923;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  @media (min-width: 1490px) {
    /* Estilos para telas com largura maior que 1490px */
    .text {
      margin-left: 100px;
    }
  
    .user-form {
      margin-left: auto;
      margin-right: auto;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 500px;
    }
  }