* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: black !important;
}

.page {
  display: flex; 
  flex-direction: row;
  min-height: 100vh;
}

.page-conteudo {
  border-top-left-radius: 30px;
  background-color: #FFF;
  padding: 20px;
  width: 100%;
  z-index: 9999;
  min-height: 100vh;
  margin-top: 30px;
}

.menuBar {
  position: absolute;
  color:#FFF;
  top:-2px;
  font-size:14px;
}


@media screen and (max-width: 992px) {
  
  .navigation-side {
    width: 100vw !important;
    z-index: 999 !important;
    position: fixed !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    top: 85vh;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .navigation-side ul {
    display: flex;
    background-color: transparent !important;
    overflow-y: scroll;
    margin-top:0 !important;
    margin-bottom:0 0 !important;
  }


  .navigation-side ul li:hover .link::before, .navigation-side ul li:hover .link::after {
    display: none;
  }

  .navigation-side ul li svg {
    display: block;
    width: 100% !important;
    margin: 0px !important;
    padding:4px;
    display: block;
    font-size: 27px;
  }

  .navigation-side ul li {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }

  .navigation-side ul li a {
    padding: 8px;
  }
  .navigation-side ul li div {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    text-align: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-conteudo {
    border-top-left-radius: 0 !important;
    z-index: 1 !important;
    display: block;
    height: auto !important;
    min-height: 50px !important;
    margin-top: 0;
  }

}

@media screen and (max-width: 670px) {
  .carrossel { 
    margin-top:240px;
    width: 570px !important;
    height: 100px !important;
    transform: rotate(90deg) !important;
  }
}
